/* Hero Section */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('hero-img-bg.png');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    /* text-4xl */
    font-weight: bold;
    margin-bottom: 1.5rem;
    /* mb-6 */
    line-height: 1.2;
    /* leading-tight */
}

.cta-button {
    display: inline-block;
    background-color: #EBC22E;
    color: black;
    padding: 0.75rem 2rem;
    /* py-3 px-8 */
    border-radius: 9999px;
    /* rounded-full */
    font-weight: 600;
    /* font-semibold */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #F7C000;
    /* hover:bg-yellow-400 */
}

.right-side {
    display: flex;
    justify-content: center;
}

.contact-section {
    padding: 100px 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content img {
    width: 400px;
}

.info-title {
    color: #2F4D7E;
}

.content-container {
    display: flex;
    align-items: center;
}

.content-container img {
    width: 100%;
}