@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui !important;
}

.bg-blue-dark {
  background: #2300fb !important;
}

.blue-color {
  color: #2947A9;
}

.gray-color {
  color: #A9AAAD;
}